GAME_SERVER_HTTP_URL=http://127.0.0.1:8080
ADMIN_SERVER_API_URL=http://127.0.0.1:8080
GM_ICON_DIR=E:\SRC\mcgame-server\frontend\s\res
GM_REDIS_URL=redis://localhost:6379/0

NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_secret_N7UND0UgjKTVK-Uodkm0Hg_xSvEMPvz
SUPABASE_SERVICE_ROLE_KEY=sb_secret_N7UND0UgjKTVK-Uodkm0Hg_xSvEMPvz
ADMIN_SECRET=123456
